.squareBtn{
    width: 13vmin;
    height: 13vmin;
    min-width: 67px;
    min-height: 67px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    background: rgba(65, 177, 225) ;
    margin: 2vmin 0 2vmin 2vmin ;
    /* transition: background-color .5s; */
    transition: all .5s;
    box-shadow:  3px 4px 4px rgb(119, 132, 142);
}
.squareBtn:hover{
    background: rgb(45, 156, 204);
    box-shadow: inset 3px 5px 4px rgb(43, 89, 134);
}
.squareBtn .MuiSvgIcon-root{
    color: #fff;
    margin-top: 10%;
    font-size: 300% !important;
}
@media screen and (min-width: 1200px) {
    .squareBtn .MuiSvgIcon-root{
        margin-top: 10%;
        font-size: 480% !important;
    }
    .squareBtn{
        font-size: 22px;
        width: 17vmin;
        height: 17vmin;
        margin: 1vmin 3vmin 1vmin 5vmin;
    }
  }
  @media screen and (min-width: 1400px) {
    .squareBtn{
        font-size: 29px;
    }
  }